body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

ul {
    list-style: none;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 20px;
}

.section-one {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    background-color: #1F2937;
    gap: 50px;
}

.h1-one {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
    padding: 0;
    margin-bottom: -20px;
}

.p-one {
    font-size: 18px;
    color: #e5e7eb;
}

.button-one {
    font-weight: 800;
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.two-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.img-text-wrap {
    display: flex;
    padding-left: 350px;
    padding-right: 350px;
    gap: 80px
}

.img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-box {
    border: 4px solid;
    border-radius: 15px;
    border-color: #3882f6;
}

.p-two {
    text-align: center;
    font-size: 18px;
    color: #505153;
}

.section-three {
    display: flex;
    flex-direction: column;
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 100px;
    padding-top: 200px;
    background-color: #e5e7eb;
}

.p-three-quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.thor {
    margin-top: -30px;
    text-align: end;
    font-size: 30px;
    font-weight: bolder;
}

.section-four {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    background-color: white;
}

.four-blue-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    gap: 250px;
    margin-top: 100px;
    padding: 25px 100px;
    border-radius: 10px;
}

.title-para-four {
    background-color: #3882f6;
    color: white;
}

.h3-four {
    font-size: 30px;
    font-weight: bolder;
}

.p-four {
    font-size: 18px;
    margin-top: -30px;
}

.button-four {
    font-weight: 800;
    color: #f9faf8;
    background-color: #3882f6;
    border: solid;
    border-color: #f9faf8;
    border-radius: 8px;
    padding: 8px 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    
}